.msgLay{
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
    word-wrap: break-word;
    background-color:rgba(47, 255, 54, 0.786);
    height: fit-content;
    max-width: 300px;
    line-height: 1.2;
    min-width: 20px;
    min-height: 18px;
}

.msgLay-right:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right:-16px;
    top:8px;
    border: 8px solid;
    border-color:transparent transparent transparent rgba(47, 255, 54, 0.579);
}

.spaceAvatar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.personPicture{
    margin-left: 5px;
}
.eventlay{
    display: flex;
    /* align-items: flex-start; */
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.timeLay{
    display: flex;
    justify-content:center;
    line-height: 30px;
    font-size: small;
    margin-top: 10px;
}